body {
    width: 100%;
    height: 100%;
    text-align: center;
}
html {
    width: 100%;
    height: 100%;
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
    .navbar-nav {
        float: right;
        margin: 0;
        padding-right: 8em;
    }
    .navbar .page-scroll {
        font-weight: bold;
        background-color: transparent;
    }
    .navbar .page-scroll .active {
        color: #fff;
        border-bottom-color: #fff;
    }
    .navbar .navbar-brand {
        font-size: 1.5em;
        padding-left: 8em;
    }
    .navbar-fixed-top {
        font-size: 1.15em;
    }
    .top-nav-collapse {
        font-size: 1em;
    }
}
.cover {
    padding: 0 1.5rem;
    margin-right: auto;
    margin-left: auto;
    width: 42em;
    margin-bottom: 7em;
    background: #000;
}
btn.focus,
.btn:focus,
.btn:hover {
    color: #337ab7;
    font-weight: bold;
}
.rounded-corners {
    border-radius: 25px;
    background: #384047;
    padding: 20px;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: bold;
}
.intro-section {
    padding: 150px 0 50px 0;
    height: 100%;
        min-height: 100%;

    text-align: center;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-section {
    min-height: 100%;

    padding-top: 150px;
    text-align: center;
    background: #eee;
}
.about-section {
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.social-section {
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}
.intro-background {
    background: url("../background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.shadows {
    box-shadow: 5px 5px 5px 5px grey;
}
ol#lowerlatin {
    list-style-type: lower-latin;
}
ul#squares {
    list-style-type: square;
}
p:hover {
    color: #87CEEB;
}

.modal0, .modal1, .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close0, .close1, .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close0:hover,
.close0:focus,.close1:hover,
.close1:focus,.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
